<div class="header">
        
    <div class="nav">
        <img class="logo" src="<%= '/'+themeDir+'/images/logo.svg'%>">
        <span class="navigate">
        <a href="/">首页</a>
        <% var rows=linkList.home;
        for(var i=0;i<rows.length;i++){%>
            <a href="<%=rows[i].linkUrl%>"><%=rows[i].title%></a>
        <%}%>
        </span>
        <div class="login">
            <% if(userInfo && userInfo.userName){%>
                <%=userInfo.userName%>
                <% if(userInfo.userType<10){%>
                        -<a href="/admin/index.html">管理</a>
                <% }%>
                &nbsp;<a href="javascript:logout()">退出</a>
            <% }else{ %>
                <a href="javascript:showRegister()">注册</a>
                <a href="javascript:showLogin()">登录</a>
            <% }%>
        </div>
    </div>

</div>