<div class="header">
        
    <div>
        <img class="logo" src="<%= themeDir+'/images/logo.svg'%>">
        <span class="navigate">
        <a href="/">首页</a>
        <% var rows=linkList.home;
        for(var i=0;i<rows.length;i++){%>
            <a href="<%=rows[i].linkUrl%>"><%=rows[i].title%></a>
        <%}%>
        </span>

    </div>
    <div class="login">
        <a href="/admin/index.html">登录</a>
    </div>
</div>