a{
    color: #2d8cf0;
    text-decoration: none;
}

.header {
    color:black;
    height:80px;
    line-height:80px;
    /*background-color:#24292e;*/
    /* background: linear-gradient(to right,#01aab4,#007cdb);*/
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0);
    /*background-image: linear-gradient(to right,#1278f6,#00b4aa);*/
}
.header a{
    color:black;
}

.tagItem{
    background: #42c02e;
    padding:1px 15px 3px;
    border-radius: 15px;
    line-height:40px;
    color:white;
    font-size:12px;
}

.page a{
    color:black;
}
.page a:hover{
    color:orangered;
}
.page .current{
    color:rgb(0, 162, 255);
}