a{
    color: #2d8cf0;
    text-decoration: none;
}

.header {
    color:white;
    height:80px;
    line-height:80px;
    background: linear-gradient(to right,#01aab4,#007cdb);

}
.header a{
    color:white;
}
.nav{
    width: 90%;
    margin: auto;
    position: relative;
}
.tagItem{
    background: #2db7f5;
    padding:1px 15px 3px;
    border-radius: 15px;
    line-height:40px;
    color:white;
    font-size:12px;
}

.page{margin:10px 5px;}
.page a{
    padding: 5px 15px;
    display: inline-block;
    border-radius: 2px;
    color:black;
    background: #DDE3E7;
}
.page a:hover{
    color:orangered;
}
.page .current{
    background:#209fd6;
    color:white;
}