<div class="header">
        
    <div class="navigate">
        <img class="logo" src="site/images/logo.svg">
        <a href="/">首页</a>
        <% var rows=linkList.home;
        for(var i=0;i<rows.length;i++){%>
            <a href="<%=rows[i].linkUrl%>"><%=rows[i].title%></a>
        <%}%>

    </div>
    <div class="login">
        <a href="/admin/index.html">登录</a>
    </div>
</div>