a{
    color: #2d8cf0;
    text-decoration: none;
}
body{
    background-image: url(../images/bg.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
}
.container {
    background-color:#ffffffe5;
}
.header {
    color:white;
    height:80px;
    line-height:80px;

}
.header a{
    color:white;
}
.nav{
    width: 90%;
    margin: auto;
    position: relative;
}
.leftMenu{
    border-right: 0px solid #dcf0f9;
}
.leftMenu a,.leftMenu span{
    color: #fafafa !important;
}
.leftMenu i{
    color: #faad14;
}
.tagItem{
    background: #42c02e;
    padding:1px 15px 3px;
    border-radius: 15px;
    line-height:40px;
    color:white;
    font-size:12px;
}

.page{margin:10px 5px;}
.page a{
    padding: 5px 15px;
    display: inline-block;
    border-radius: 2px;
    color:black;
    background: #f7f3e4f0;
}
.page a:hover{
    color:orangered;
}
.page .current{
    background:#e58a51;
    color:white;
}
.footer{
    border-width:0px !important;
    color:white;
}